html{
  color: blue;
  font-family:arial;
  background-color: white;
  text-decoration: underline;
  
}

h1{
  background-color:black;
}

p{
  color:yellow;
  background-color: purple;
  border-style: ridge;
  border-color: black
  
}

.first{
  color:blue;
  font-style: italic;
  
  }

.bama{
  color:orange;
  font-weight: bold;
  border-style: double;
  text-align: right;
  }

.first second{
  color:yellow;
  background-color: blue;
  
}


.style{
color:blue;
}

.str:hover{
color: blue;
}
  
  
.str{
color:orange;
}
  
 .str:active {
    color: white;
}
  
#add-new-toda-button{
    font-size:20px;
     text-align: center;
     color:green;
    background-color:magenta;
   
  }
  
div.static{
position: relative;
}