  <!--ruby styles-->
  
  <h1>
    <img class="sports" src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4OCEtRwDfXGEc__cJxDu3QuOvxG9ohgfqhHvKRWP2svlAjOKJ"></img>
   EE's To do List
  </h1>
<ul class="list">
 <li>
   <input type="checkbox" name=""/>
   Go for a 5 mile run
   <div class= "static>"><span class="pomodoro-estimate">  15 Pomodoros</span></div>
     
 </li>
 <li>
   <input type="checkbox" name=""/>
    Sleep
   <span class="pomodoro-estimate">10 Pomodoros</span>
 </li>
 <li>
   <input type="checkbox" name=""/>
    Eat food
   <span class="pomodoro-estimate">2 Pomodoros</span>
 </li>
 <li>
   <input type="checkbox" name=""/>
   Homework
   <span class="pomodoro-estimate">5 Pomodoro</span>
 </li>
 <li>
   <input type="checkbox" name=""/>
  Begin essay
   <span class="pomodoro-estimate">7 Pomodoros</span>
 </li>
 <li>
   <input type="checkbox" name=""/>
   Nap
   <span class="pomodoro-estimate">3 Pomodoro</span>
 </li>
 <li>
   <input type="checkbox" name=""/>
  Watch TV
   <span class="pomodoro-estimate">12 Pomodoros</span>
 </li>
</ul>

<div id="new-todo-block">
 <a href "#" class="button" id="new-todo-description" type="text" placeholder="Add a new todo...">
 <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Pomodoro estimate...">
 <input class="button" id="add-new-todo-button" type="submit" value="Add todo">


<p>
    lorem <span style="color:blue">ipsum</span>
    jumping a <span style="color:red">fence
    </span></p>
  
  <span class="str"><a href="https://www.google.com/search?q=google+doodle&rlz=1CASMAD_enUS754&oq=google&aqs=chrome.3.69i57j0j35i39l2j69i60j0.4441j0j7&sourceid=
  chrome&ie=UTF-8">
  goodbye</a></span>
  
  <img src="https://s-media-cache-ak0.pinimg.com/originals/27/89/bf/2789bf2d8de9b86ca5649e929c9a03f6.jpg" height="400px" width="400px">
  <span class="ball"><a href="https://www.w3schools.com/">nutcracker</a></span>
<input id= "add-new-todo-button"type="submit"value= "Add todo">

</div>