   <div>
       hello world
   </div>
  <div>
    goodbye
  </div>
  <div class="first">
    michigan
  </div>
  <div class="bama">
       Call 1-800-HENSONS <p> GET EM' DUNE
    </div>
  <div class="first second">
      greek
  </div>
 
  <p>
    lorem <span style="color:blue">ipsum</span>
    jumping a <span style="color:red">fence
    </span></p>
  
  <span class="str"><a href="https://www.google.com/search?q=google+doodle&rlz=1CASMAD_enUS754&oq=google&aqs=chrome.3.69i57j0j35i39l2j69i60j0.4441j0j7&sourceid=
  chrome&ie=UTF-8">
  goodbye</a></span>
  
  <img src="https://s-media-cache-ak0.pinimg.com/originals/27/89/bf/2789bf2d8de9b86ca5649e929c9a03f6.jpg" height="400px" width="400px">
  <span class="ball"><a href="https://www.w3schools.com/">nutcracker</a></span>
<input id= "add-new-todo-button"type="submit"value= "Add todo">