 <!--ruby styles-->
  <h1>
    <img class="sports" src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4OCEtRwDfXGEc__cJxDu3QuOvxG9ohgfqhHvKRWP2svlAjOKJ"></img>
   EE's To do List
  </h1>
  
<div class="card">
 <input type="checkbox" name=""/>
 <h2><%= @todo_description %></h2>
 <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo_pomodoro_estimate %> Pomodoros</span>
 <a href="#" class="button" id="edit-todo-button">Edit</a>
 <a href="#" class="button" id="delete-todo-button">Delete</a>
 <a href="index" class="simple-link">Go back...</a>
</div>